.wrapper.dark {
  background-color: rgb(2, 2, 2);
}
.dark span {
color: #fff;
}

.dark h1 {
  color: #fff;
  }

.dark .modal-content {
  background-color: red;
}

  .wrapper {
    height: 100vh;
  }


